<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="tof1_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="tof1_frame"/>
        <origin xyz="${chassis_x/2 + tof_x/2 + tof_x_offset} ${tof_y_offset} ${chassis_visual_offset_z + tof_z_offset}" rpy="0 0 ${tof_y_rot}"/>
    </joint>

    <link name="tof1_frame">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${tof_x} ${tof_y} ${tof_z}"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${tof_x} ${tof_y} ${tof_z}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.005" x="${tof_x}" y="${tof_y}" z="${tof_z}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <joint name="tof2_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="tof2_frame"/>
        <origin xyz="${chassis_x/2 + tof_x/2 + tof_x_offset} -${tof_y_offset} ${chassis_visual_offset_z + tof_z_offset}" rpy="0 0 -${tof_y_rot}"/>
    </joint>

    <link name="tof2_frame">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${tof_x} ${tof_y} ${tof_z}"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${tof_x} ${tof_y} ${tof_z}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.005" x="${tof_x}" y="${tof_y}" z="${tof_z}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

</robot>
