<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Mecanum Drive plugin -->
    <gazebo>
        <plugin
            filename="gz-sim-mecanum-drive-system"
            name="gz::sim::systems::MecanumDrive">
            <front_left_joint>fl_wheel_joint</front_left_joint>
            <front_right_joint>fr_wheel_joint</front_right_joint>
            <back_left_joint>rl_wheel_joint</back_left_joint>
            <back_right_joint>rr_wheel_joint</back_right_joint>
            <wheel_separation>${wheellength}</wheel_separation>
            <wheelbase>${wheelbase}</wheelbase>
            <wheel_radius>${wheel_radius}</wheel_radius>
            <topic>cmd_vel</topic>
            <odom_topic>odom</odom_topic>
            <tf_topic>tf</tf_topic>
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
            <odom_publish_frequency>50</odom_publish_frequency>
        </plugin>
    </gazebo>

    <!-- Joint State Publisher plugin -->
    <gazebo>
        <plugin
            filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint_name>fl_wheel_joint</joint_name>
            <joint_name>fr_wheel_joint</joint_name>
            <joint_name>rl_wheel_joint</joint_name>
            <joint_name>rr_wheel_joint</joint_name>
        </plugin>
    </gazebo>

</robot>
