<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="chassis_x" value="0.5"/>
    <xacro:property name="chassis_y" value="0.4"/>
    <xacro:property name="chassis_z" value="0.15"/>
    <xacro:property name="chassis_visual_offset_z" value="0.02"/>    
    <xacro:property name="chassis_mass" value="1.0"/>

    <xacro:property name="base_link_offset_z" value="0.1"/>

    <xacro:property name="wheel_radius" value="0.1"/>
    <xacro:property name="wheel_length" value="0.1"/>
    <xacro:property name="wheel_mass" value="0.2"/>

    <xacro:property name="wheel_offset_x" value="0.15"/>
    <xacro:property name="wheel_offset_y" value="0.25"/>

    <xacro:property name="wheelbase" value="0.1"/>
    <xacro:property name="wheellength" value="0.1"/>  

</robot>
