<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <ros2_control name="Mecanum_robot" type="system">
        <hardware>
            <xacro:if value="$(arg use_sim)">
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </xacro:if>
            <xacro:unless value="$(arg use_sim)">
                <plugin>mecanum_robot/MecanumSystemHardware</plugin>
                <param name="front_left_wheel_name">fl_wheel_joint</param>
                <param name="front_right_wheel_name">fr_wheel_joint</param>
                <param name="rear_left_wheel_name">rl_wheel_joint</param>
                <param name="rear_right_wheel_name">rr_wheel_joint</param>
                <param name="device">/dev/ttyAMA0</param>
                <param name="baud_rate">115200</param>
                <param name="timeout_ms">50</param>
                <param name="kp">3.0</param>
                <param name="ki">0.5</param>
                <param name="kd">0.2</param>
            </xacro:unless>
        </hardware>

        <sensor name="battery_state">
            <state_interface name="voltage" />
        </sensor>

        <joint name="fl_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-${velocity}</param>
                <param name="max">${velocity}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="fr_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-${velocity}</param>
                <param name="max">${velocity}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="rl_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-${velocity}</param>
                <param name="max">${velocity}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="rr_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-${velocity}</param>
                <param name="max">${velocity}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <xacro:if value="$(arg use_sim)">
        <gazebo>
            <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find mecanum_robot)/config/controllers.yaml</parameters>
            </plugin>
        </gazebo>
    </xacro:if>

</robot>
